body {
    background-image: url(photo-1642160428828-334bf07023ec.jpg) ;
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    color: white;
}
label{
    color: white;
}
label{
    display: inline-block;
    font-weight: bold;
}
input{
    display: inline-block;
    
}
.border {
    border: 8px solid;
    background-color: rgb(56, 52, 50);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 250px;
    width: 400px;
    margin: auto;
    align-items: center;
    box-shadow: 100px, 50px, 100px;
    
}

